@{
    ViewData["Title"] = "Book Details";
}

<h1>Book: @ViewBag.book.Title</h1>
<h1>Author: @ViewBag.author.Name</h1>
<h1>Language: @ViewBag.book.Language</h1>

<img src="@ViewBag.book.CoverPath" alt="Image" style="width: 300px; height: 400px;" />

<br />
<br />
<a asp-controller="Home" asp-action="ShowAuthorDetails" asp-route-authorid="@ViewBag.book.AuthorId">@ViewBag.author.Name</a>
<a asp-controller="Home" asp-action="UpdateBook" asp-route-id="@ViewBag.book.Id" class="btn btn-primary mx-2">Update</a>
<a asp-controller="Home" asp-action="DeleteBook" asp-route-id="@ViewBag.book.Id" class="btn btn-danger mx-2">Delete</a>